/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* .container {
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem;
} */
.container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  align-content: center;
  background-color: rgb(150, 144, 138);
  padding: 10px;
  border-style: groove;
}

h2 {
  text-align: center;
  padding: 1rem;
  color: rgb(83, 83, 82);
  background-color: bisque;
}

.card-user {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin: 1rem;
}

.input-search-control {
  background-color: rgb(201, 201, 201);
  display: flex;
  justify-content: space-between;
}

.input-fild-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
}

.add-btn {
  height: 3rem;
  width: 3rem;
  margin: 3.5rem;
  border-radius: 0.2rem;
}
